<ion-view view-title="User detail">
  <ion-nav-buttons side="primary">
    <a class="button button-icon icon ion-android-send" ng-click="save()"></a>
    <a class="button button-icon icon ion-trash-a" ng-click="remove()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div class="list">
      <div class="item item-divider">
          Profile
        </div>
      <label class="item item-input">
        <input type="text" ng-model="user.fullname" placeholder="ชื่อ-สกุล">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="user.position" placeholder="ตำแหน่ง">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="user.hospital" placeholder="ที่ทำงาน">
      </label>
      <div class="item item-divider">
          My Picture
        </div>

        <div class="item item-image">
          <img ng-src="{{user.image}}">
        </div>

        <a class="item item-icon-left assertive" ng-click="takePicture()">
          <i class="icon ion-ios-camera"></i>
          Take picture
        </a>

    </div>


    </div>

  </ion-content>
</ion-view>
