<ion-view view-title="Dashboard">
  <ion-nav-buttons side="primary">
    <a class="button button-icon icon ion-android-add"
    ui-sref="tab.dash-new"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <a class="item item-icon-left" href="#"
      ng-repeat="u in users">
        <i class="icon ion-ios-monitor positive"></i>
        {{u.fullname}}
        <span class="item-note">
          {{ u.position }}
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
