<ion-view view-title="Dashboard">
  <ion-nav-buttons side="primary">
    <a class="button button-icon icon ion-android-add"
    ui-sref="tab.dash-new"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="query">
        </label>
      </div>
      <a class="item item-icon-left"
      href="#/tab/detail/{{u.id}}"
      ng-repeat="u in users | filter: query">
        <i class="icon ion-ios-monitor positive"></i>
        {{u.fullname}}
        <span class="item-note">
          {{ u.position }}
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
